button{
    width: 50px;
    height: 50px;
    font-size: large;
    margin: 5px;
}

.screen{
    width: 165px;
    height: 45px;
    font-size: larger;
    margin: 5px;
}

.main-container{
    text-align: center;
}